In [11]:
import pandas as pd

In [12]:
# تحميل كل ملف تقييم مع تحديد نوع التمثيل
tfidf = pd.read_json("tfidf_evaluation_results_webis.json", typ='series').to_frame().T
tfidf["Representation"] = "TF-IDF"

In [13]:
bert = pd.read_json("bert_evaluation_results_webis.json", typ='series').to_frame().T
bert["Representation"] = "BERT"

In [14]:
faiss = pd.read_json("faiss_bert_evaluation_results_webis.json", typ='series').to_frame().T
faiss["Representation"] = "FAISS-BERT"

In [15]:
hybrid = pd.read_json("hybrid_evaluation_results_webis.json", typ='series').to_frame().T
hybrid["Representation"] = "Hybrid (TF-IDF + BERT)"

In [16]:
hybrid_faiss = pd.read_json("hybrid_vevtor_results_evaluation_webis.json", typ='series').to_frame().T
hybrid_faiss["Representation"] = "Hybrid (TF-IDF + FAISS-BERT)"

In [17]:
# دمج كل النتائج في جدول واحد
all_results = pd.concat([tfidf, bert, faiss, hybrid , hybrid_faiss], ignore_index=True)

In [18]:
# إعادة ترتيب الأعمدة لجعل اسم التمثيل أول عمود
cols = ["Representation"] + [col for col in all_results.columns if col != "Representation"]
all_results = all_results[cols]

In [19]:
# عرض النتائج في جدول
display(all_results)

,Representation,MAP,MRR,Recall@10,Precision@10,Execution Time (s),Queries Evaluated,Recall,Execution Time (seconds)
0,TF-IDF,0.4268,0.5028,0.0546,0.2469,28.93,49.0,NaN,NaN
1,BERT,0.3494,0.4441,0.0359,0.1643,10.13,42.0,NaN,NaN
2,FAISS-BERT,0.4029,0.4678,0.0412,0.1857,3.84,49.0,NaN,NaN
3,Hybrid (TF-IDF + BERT),0.4271,0.5106,0.0572,0.2571,57.71,49.0,NaN,NaN
4,Hybrid (TF-IDF + FAISS-BERT),0.4462,0.5223,NaN,0.2571,NaN,49.0,0.0568,62.16

In [20]:
# حفظ الجدول في ملف
all_results.to_csv("all_evaluation_results.csv", index=False)